GUARDIAN_SECRET_KEY={{ lookup('ansible.builtin.password', length=48, chars='ascii_letters,digits,+-/*_!@#$%^&()') }}
SECRET_KEY_BASE={{ lookup('ansible.builtin.password', length=48, chars='ascii_letters,digits,+-/*_!@#$%^&()') }}
LIVE_VIEW_SIGNING_SALT={{ lookup('ansible.builtin.password', length=24, chars='ascii_letters,digits') }}
COOKIE_SIGNING_SALT={{ lookup('ansible.builtin.password', length=6, chars='ascii_letters,digits') }}
COOKIE_ENCRYPTION_SALT={{ lookup('ansible.builtin.password', length=6, chars='ascii_letters,digits') }}
DATABASE_ENCRYPTION_KEY={{ lookup('ansible.builtin.password', length=32, chars='ascii_letters,digits,+-/*_!@#$%^&()') }}
DATABASE_PASSWORD={{ lookup('ansible.builtin.password', length=12, chars='ascii_letters,digits') }}