GUARDIAN_SECRET_KEY={{  lookup('community.general.random_string',  base64=true, length=48) }}
SECRET_KEY_BASE={{ lookup('community.general.random_string', base64=true, length=48) }}
LIVE_VIEW_SIGNING_SALT={{ lookup('community.general.random_string', base64=true,  length=24) }}
COOKIE_SIGNING_SALT={{ lookup('community.general.random_string', base64=true,  length=6) }}
COOKIE_ENCRYPTION_SALT={{ lookup('community.general.random_string', base64=true,   length=6) }}
DATABASE_ENCRYPTION_KEY={{ lookup('community.general.random_string', base64=true,  length=32) }}
DATABASE_PASSWORD={{ lookup('community.general.random_string', base64=true,  length=12) }}