EXTERNAL_URL={{ fz_server_url }}
DEFAULT_ADMIN_EMAIL={{ fz_admin }}
FZ_INSTALL_DIR={{ fz_firezone_dir }}/firezone
DEFAULT_ADMIN_PASSWORD={{ fz_admin_password }}
WIREGUARD_IPV4_NETWORK={{ fz_client_subnet }}
WIREGUARD_IPV4_ADDRESS={{ fz_client_gateway }}
FZ_PORT={{ fz_wireguard_port }}
WIREGUARD_PORT={{ fz_wireguard_port }}
PHOENIX_SECURE_COOKIES=true

# Database configuration
DATABASE_NAME=firezone
DATABASE_USER=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
