!
router ospf
# log file /tmp/ospfd.log
default-information originate
 ospf router-id {{wg_interface['wg_config']['address']}}
 network 0.0.0.0/0 area 0.0.0.0
 area 0.0.0.0 range 0.0.0.0/0
 redistribute kernel
!
