services:
    {{item.key}}_pdns:
        restart: always
        build: ./powerdns
        cap_add: [ NET_ADMIN ]
        volumes:
            - "{{mrvpn_svcs_root}}/powerdns/etc:/etc/powerdns"
        network_mode: "service:{{item.key}}"
        environment:
            - "MRVPN_INTERFACES={{item.value | join (',')}}"
    {{item.key}}_ipt:
        restart: always
        build: ./ipt-server
        cap_add: [ NET_ADMIN ]
        network_mode: "service:{{item.key}}"
        volumes:
            - "{{ipt_server_config_file.dest}}:/settings.yaml"
    {{item.key}}_frr:
        restart: always
        cap_add:
            - CAP_NET_RAW
            - NET_ADMIN
            - SYS_ADMIN
        privileged: false
        image: quay.io/frrouting/frr:9.1.0
        network_mode: "service:{{item.key}}"
        volumes:
            - {{mrvpn_svcs_root}}/frr:/etc/frr:rw
